.priceTable {
  width: 97%;
  padding: 1.5%;
}

.priceTable table {
  width: 100%;
  border-collapse: collapse;
}

.priceTable th,
td {
  padding: 0.75rem;
}

.priceTable tr {
  border-bottom: 1px solid #efefef;
}

.priceTable td {
  font-size: 14px;
  color: #525252;
  text-align: center;
}

.priceTable .minPrice {
  color: green;
}

.tableBox {
  overflow-x: auto;
  margin-bottom: 10px;
  box-shadow: 0 -1px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
}
