.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 100%;
  align-items: center;
  background-size: 102%;
  background-position: center;
  background-image: url(../../images/banner4.jpg);
}

.introduce {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  columns: #000000;
  width: 80%;
  line-height: 50px;
}

.iconBar {
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 40px;
  z-index: 5;
}

.logo {
  height: 40px;
  opacity: 0.65;
}

.logo:hover {
  opacity: 1;
}
